* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #52050a;
  color: #f2f2f2;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 0%,
    rgb(255, 255, 255) 100%
  );
  background-position: center;
  background-size: fixed;
  box-shadow: 0 0 25px rgba(24, 9, 12, 0.4);
  border-radius: 8px;
  animation: slideInFromLeft 0.5s ease-out;
}

h1 {
  text-align: center;
  color: #bcd2ee;
  margin-bottom: 20px;
  font-weight: 900;
  text-decoration: underline;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

form {
  display: flex;
  flex-direction: column;
  animation: slideInFromLeft 0.5s ease-out;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input,
textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

textarea {
  resize: none;
}

button {
  padding: 10px;
  background-color: #76e7cd;
  color: #52050a;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid #52050a;
}

button:hover {
  background-color: #52050a;
  border: 1px solid #fafafa;
  color: #fafafa;
  transition: background-color 0.3s linear;
  -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -ms-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
}

.resume {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fafafa;
}

.resume h2 {
  color: #333;
  margin-bottom: 15px;
}

.resume p {
  margin-bottom: 10px;
  line-height: 1.5;
}

.resume img {
  display: block;
  width: 150px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
  animation: slideInFromLeft 0.5s ease-out;
}
